# =========================
# FRONTEND
# =========================

node_modules
dist

# =========================
# PYTHON
# =========================

__pycache__
*.pyc
.venv
.venv-2

# =========================
# ENV FILES
# =========================

.env

# =========================
# VSCODE
# =========================

.vscode

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db